In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

In [22]:
data = pd.read_csv('../data/2020 TEAM STATS - SPECIAL TEAMS.csv')

In [23]:
## data on the 2020 TEAM STATS - SPECIAL TEAMS
data.head()

,Team,FGM,Att,FG %,1-19 > A-M,20-29 > A-M,30-39 > A-M,40-49 > A-M,50+ > A-M,Lng,FG Blk
0,NaN,22.0,26.0,84.6,0_0,3_3,8_7,11_10,4_2,52.0,0.0
1,49ers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,30.0,32.0,93.8,0_0,9_9,10_10,10_9,3_2,55.0,0.0
3,Bears,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,27.0,34.0,79.4,0_0,3_3,15_13,10_8,6_3,55.0,0.0

In [5]:
#Quicklearn DataFrames

#Let's get some data to play with. How about the Jupyter Kernels github
import webbrowser
website = 'https://www.nfl.com/stats/team-stats/special-teams/field-goals/2020/reg/all'
webbrowser.open(website)

True

In [20]:
#Copy and read to get data
fieldGoals = pd.read_clipboard()

In [21]:
fieldGoals

,Team,FGM,Att,FG %,1-19 > A-M,20-29 > A-M,30-39 > A-M,40-49 > A-M,50+ > A-M,Lng,FG Blk
0,NaN,22.0,26.0,84.6,0_0,3_3,8_7,11_10,4_2,52.0,0.0
1,49ers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,30.0,32.0,93.8,0_0,9_9,10_10,10_9,3_2,55.0,0.0
3,Bears,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,27.0,34.0,79.4,0_0,3_3,15_13,10_8,6_3,55.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
59,Texans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,NaN,20.0,28.0,71.4,0_0,3_2,6_5,11_6,8_7,55.0,2.0
61,Titans,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,NaN,15.0,22.0,68.2,0_0,6_6,4_3,7_4,5_2,53.0,0.0
63,Vikings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#write to file to save your dataframe as a csv
fieldGoals.to_csv(r'data/fieldGoals.csv')