In [1]:
import numpy as np
import pandas as pd

In [14]:
# declare arrays
arrayA = np.array([1, 2, 3, 4, 5, 6, 7, 8, 9])
arrayB = np.array([10, 20, 30, 40, 50, 60, 70, 80, 90])
arrayC = np.array([100, 200, 300, 400, 500, 600, 700, 800, 900])
arrayD = np.array([1000, 2000, 3000, 4000, 5000, 6000, 7000, 8000, 9000])

In [15]:
df = pd.DataFrame(np.array([arrayA, arrayB, arrayC, arrayD]))

In [16]:
df

      0     1     2     3     4     5     6     7     8
0     1     2     3     4     5     6     7     8     9
1    10    20    30    40    50    60    70    80    90
2   100   200   300   400   500   600   700   800   900
3  1000  2000  3000  4000  5000  6000  7000  8000  9000