## Python Lambda Functions

A lambda function is a small, anonymous function that is typically defined only within the block of code where it executes.

> *syntax* - **lambda arguments : expression**

In [4]:
## elementary lambda function
x = lambda y : (y + 10) / 2

## call to lambda function with y = 22
print(x(22))

## output should be (22 + 10) / 2
## which equals 16 - I hope

16.0

The above code says "Take x and set it equal an anonymous, locally defined function which we will now define via lambda.

x equals (the call to the built-in lambda) with a variable expression locally define as y. 

Take that locally defined variable and add ten to it, then divide the sum by two. Assign the quotient to x."

In [5]:
## lambda functions can definitely take more than one argument
x1 = lambda y, z, y1 : (((y + 10) / 2) + z) * y1

## let's keep y at twenty two, make z four, and y1 one tenth
## this should output '2.0'
## we are adding four to sixteen and multiplying it by one tenth
print(x1(22, 4, 0.1))

2.0

### Beauty of the lambda

Lambda functions work wonderfully when they are defined inside of other functions. The next example will use a lambda function that takes a number and quadruples it. The lambda function will be defined inside of a normally defined Python function. i.e. this lambda is defined with an unknown number, that the user will input, in mind.

In [6]:
## this line of code defines the function that quadruples
## initially it only manipulates a number in an variablly defined way
def quad_function(w):
    return lambda x : x * w

## the number inserted within the "quad_nation()" parentheses will be the number
## that is multiplied to lambda's x
## since w is declared to be four, the function will quadruple x
quadNation = quad_function(4)

## after "quadNation's w argument" is defined to be four to number inserted into the new parentheses
## will be the number representing lambda's x - i.e. the number to be quadrupled
print(quadNation(6))

24

Renaming the quad_function() to something more generic is best especially when trying to match the versatility of lambda functions with just as robust naming conventions

Suppose the next anonymous function was going to be used to find the square root of a number. Instead of naming the function "squareRoot_function()" and 
making the same mistake above (with regards to the name of the function). A more appropriate and broadstrokes name would be "root_function()", as this
function implies it is for finding the specifc roots of numbers. As we know, there are a lot more than just square roots...

In [25]:
## create our root function via lambda defined with an appropriately named function
def root_function(r):
    return lambda x : x ** (1 / r)
## this function will return any root of any number when set up properly - it is better named; as it can be applied to a myriad 
## of numerical roots in question

#### **Special note**: Python's exponential operator is "**" versus the standard "^"/carat which is used in mathematical notation.

In [26]:
## setting up a few

## square root (i.e. x raised to the one half power)
squareRoot = root_function(2)

## cube root (i.e. x raised to the one third power)
cubeRoot = root_function(3)

## seventh root (i.e x raised to the one seventh power)
seventhRoot = root_function(7)

In [27]:
## testing

## the square root of one hundred is ten; verify this checks out
print(squareRoot(100))

10.0

In [28]:
## the cube root of twenty-seven is three. Three copies of three all multiplied together should produce a product of twenty-seven.
print(cubeRoot(27))

3.0

In [29]:
## search for the seventh root of two hundred forty-five
print(seventhRoot(245))

2.194367894926449

In [31]:
## verify the result above from the seventhRoot() functions
print(2.194367894926449 ** 7)
## close enough for the computer to make two hundred forty-five

244.9999999999999

### Lambda to strip away unwanted characters

Lambda functions can also be utilized to remove any unwanted characters such as dollar signs within a column.

In [7]:
## import package to create a dataframe
import pandas as pd

In [8]:
## create an empty dataframe
df = pd.DataFrame()
## create a column titles 'Items' and populate it with four items
df['Item'] = ['MacBook Air', 'MacBook Pro', 'iPad Air', 'iPad Pro']
## call the dataframe to verify creation
df

          Item
0  MacBook Air
1  MacBook Pro
2     iPad Air
3     iPad Pro

In [9]:
## add cost column with the costs of the respective items
df['Cost'] = ['$999.00', '$1299.00', '$599.00', '$799.00']
## inspect the dataframe
df

          Item      Cost
0  MacBook Air   $999.00
1  MacBook Pro  $1299.00
2     iPad Air   $599.00
3     iPad Pro   $799.00

Suppose you were tasked with removing the '$' character and the '.00' characters. A fantastic way to go about with would be a lambda function.

In [12]:
## make a copy of the data, just in case
df1 = df.copy()
## inspect copy
df1

          Item      Cost
0  MacBook Air   $999.00
1  MacBook Pro  $1299.00
2     iPad Air   $599.00
3     iPad Pro   $799.00

In [17]:
## remove or strip away the dollar sign
df1['Cost'] = df1['Cost'].apply(lambda x: x.strip('$'))
df1

          Item  Cost
0  MacBook Air   999
1  MacBook Pro  1299
2     iPad Air   599
3     iPad Pro   799

In [18]:
## follow suit for the decimals with trailing cents
df1['Cost'] = df1['Cost'].apply(lambda x: x.strip('.00'))
df1

          Item  Cost
0  MacBook Air   999
1  MacBook Pro  1299
2     iPad Air   599
3     iPad Pro   799